@use '../../assets/global.module.scss' as global;

.aboutCard {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    padding: 0 10vw;

    .cardText {
        font-size: 1.2rem;
        max-width: 50%;
        text-align: justify;
        line-height: 2rem;
        color: global.$fontColorPrimary;
    }
    .cardImage {
        height: 90%;
        background-position: center;
        background-size: contain;
        border: 3px solid rgba(global.$fontColorPrimary, 0.75);
        border-radius: 5px;
    }
}
