@use '../../assets/global.module.scss' as global;

.about {
    min-height: 100vh;
    animation: global.$animationShow;
}

@media (max-width: global.$mediaTabletPortrait) {
    .about {
        margin-bottom: 100px;
    }
}
