iframe {
    border: 1px none;
    height: 9 * 2.2rem;
    width: 16 * 2.2rem;
    min-height: 9 * 2.2rem;
    min-width: 16 * 2.2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
