@use '../../assets/global.module.scss' as global;

iframe {
    border: 1px none;
    width: global.$desktopWidth;
    height: global.$desktopHeight;
    min-width: global.$desktopWidth;
    min-height: global.$desktopHeight;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: global.$mediaTabletPortrait) {
    iframe {
        width: global.$tabletWidth;
        height: global.$tabletHeight;
        min-width: global.$tabletWidth;
        min-height: global.$tabletHeight;
    }
}

@media (max-width: global.$mediaSmartphonePortrait) {
    iframe {
        width: global.$smartphoneWidth;
        height: global.$smartphoneHeight;
        min-width: global.$smartphoneWidth;
        min-height: global.$smartphoneHeight;
    }
}
