@use '../../assets/global.module.scss' as global;

.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    animation: global.$animationShow;
}

.musicSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .musicSectionBody {
        display: flex;
        align-items: center;
        padding: 20px 30px 20px 20px;
    }

    .musicSectionText {
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin: 0 2%;

        span {
            margin-top: 10px;
            color: global.$fontColorPrimary;
        }
    }
}

@media (max-width: calc(global.$mediaTabletPortrait + 300px)) {
    .music {
        margin-bottom: 100px;
    }

    .musicSection {
        width: 100%;

        .musicSectionBody {
            padding-top: 2em;
            flex-direction: column;
            // background-color: red;
        }

        .musicSectionText {
            // background-color: orange;
            margin-top: 20px;
            width: global.$tabletWidth;
            span {
                font-size: 1.3rem;
            }
        }
    }
}
