.music {
    min-height: 100vh;
}

.musicSection {
}

.musicSectionBody {
    display: flex;
    align-items: center;
    padding: 20px;
}

.musicSectionText {
    max-width: 500px;
    margin-left: 20px;
}
