@use '../../assets/global.module.scss' as global;

.body {
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    background: global.$backgroundPrimary;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow: overlay;
}

.body::-webkit-scrollbar {
    width: 10px; /* vertical scroll width */
    height: 12px; /* horizontal scroll height */
}

.body::-webkit-scrollbar-button {
    height: 100px; /* vertical scroll height */
}

.body::-webkit-scrollbar-thumb {
    /* <--- required by Chrome, Edge and Safari  */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: global.$mediaSmartphonePortrait) {
    .body {
        padding-top: 100px;
    }
}
