@use '../../assets/global.module.scss' as global;

.home {
    min-height: 100vh;
    margin-top: -120px;
    animation: global.$animationShow;
}

@media (max-width: global.$mediaSmartphonePortrait) {
    .home {
        min-height: auto;
    }
}
