@use '../../assets/global.module.scss' as global;

.home {
    min-height: 100vh;
    margin-top: -120px;
    animation: global.$animationShow;
}

@media (max-width: global.$mediaSmartphonePortrait) {
    .home {
        height: calc(100vh + 120px);
        margin-top: -100px;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // right: 0;
        // left: 0;
        // margin-top: auto;
    }
}
