@use '../../assets/global.module.scss' as global;

.itemBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
    margin-right: 20px;
}

@media (max-width: global.$mediaTabletPortrait) {
    .itemBar {
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        padding: 0 10%;
        flex-direction: column;
        background-color: rgba(global.$backgroundPrimary, 0.95);
        z-index: 10;
        box-shadow: -1px 0 10px black;
        border-radius: 10px 0 0 10px;
        margin-right: 0;
    }
    .hidden {
        left: 110vw;
    }
}

@media (max-width: global.$mediaSmartphonePortrait) {
    .itemBar {
        left: 0;
        height: 50%;
    }
    .hidden {
        top: -110vw;
    }
}
