@use '../../assets/global.module.scss' as global;

.item {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 50%;
    text-decoration: none;
    color: global.$colorPrimaryLight;
    text-underline-offset: 7px;
}
