@use '../../assets/global.module.scss' as global;

.item {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 50%;
    text-decoration: none;
    font-size: 1.3rem;
    color: global.$fontColorPrimary;
    text-underline-offset: 10px;
}
