@use '../../assets/global.module.scss' as global;

.navbar {
    position: absolute;
    display: flex;
    width: 100%;
    font-family: 'Chango', cursive;
    transition: 0.5s;
    z-index: 1000;
}

.active {
    background: rgba(lighten(global.$backgroundPrimary, 2%), 0.95);
    box-shadow: 0 0 10px black;
}

@media (max-width: global.$mediaTabletPortrait) {
    .navbar {
        // background: red;
    }
}
