@use '../../assets/global.module.scss' as global;

.title {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 3rem;
    font-family: 'Chango';
    padding-left: 20px;
    text-decoration: none;
    color: global.$colorPrimaryLight;
    filter: drop-shadow(4px 4px 3px black);
}
