@use '../assets/global.module.scss' as global;

.sectionHeader {
    display: flex;
    font-size: 1.75rem;
    align-items: center;
    .line {
        width: 10%;
        max-width: 100px;
        height: 0.1em;
        background: global.$colorPrimaryLight;
        margin: 0 20px;
    }
}
