@use '../../assets/global.module.scss' as global;

.footer {
    display: flex;
    flex-direction: column;
    background-color: global.$backgroundSecondary;
    width: 100%;
    padding: 20px 0;
}

// @media (max-width: global.$mediaSmartphonePortrait) {
//     .footer {
//         position: absolute;
//         bottom: 0;
//     }
// }
