@use '../../assets/global.module.scss' as global;

.icons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 50%;
    padding-top: 1rem;
}

@media (max-width: global.$mediaSmartphonePortrait) {
    .icons {
        width: 85%;
    }
}
