$backgroundPrimary: #1e393e; // body

$backgroundSecondary: lighten($backgroundPrimary, 10%); // e.g.footer

$fontColorPrimary: rgb(243, 243, 243);

$animationShow: show 1s;

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// media query breakpoints (max-width)

$mediaTabletPortrait: 800px;

$mediaTabletLandscape: 800px;

$mediaSmartphonePortrait: 320px;
$mediaSmartphoneLandscape: 480px;

// $mediaDesktop1: 1025px; // big landscape tablets, laptops, and desktops
// $mediaDesktop2: 1280px; // hi-res laptops and desktops

$desktopSize: 2.2rem;
$tabletSize: 2.2rem;

$desktopWidth: 16 * $desktopSize;
$desktopHeight: 9 * $desktopSize;

$tabletWidth: 16 * $tabletSize;
$tabletHeight: 9 * $tabletSize;
