$backgroundPrimary: #1d3030; // body

$backgroundSecondary: lighten($backgroundPrimary, 10%); // e.g.footer

$fontColorPrimary: rgb(243, 243, 243);

$animationShow: show 1s;

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// media query breakpoints (max-width)

$mediaTabletPortrait: 850px;
$mediaSmartphonePortrait: 450px;

$desktopSize: 2.2rem;
$tabletSize: 2.2rem;
$smartphoneSize: 1.5rem;

$desktopWidth: 16 * $desktopSize;
$desktopHeight: 9 * $desktopSize;

$tabletWidth: 16 * $tabletSize;
$tabletHeight: 9 * $tabletSize;

$smartphoneWidth: 16 * $smartphoneSize;
$smartphoneHeight: 9 * $smartphoneSize;
