$backgroundPrimary: rgb(29, 48, 48); // body
$backgroundSecondary: darkslategrey; // footer

$fontColorPrimary: white;

$animationShow: show 1s;

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
