body {
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 8px; /* vertical scroll width */
    height: 12px; /* horizontal scroll height */
}

body::-webkit-scrollbar-button {
    height: 300px; /* vertical scroll height */
}

body::-webkit-scrollbar-thumb {
    /* <--- required by Chrome, Edge and Safari  */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
